{% extends 'customer/base.html' %}
{% block title %} Feedback {% endblock %}
{% load static %}
{% block content %}
<div class="container-fluid py-4">
    <div class="row min-vh-80">
      <div class="col-6 mx-auto">
        <div class="card mt-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">FeedBack</h6>
            </div>
          </div>
          <div class="card-body">
              <form method="post">
                  {% csrf_token %}
            <div class="mb-3 input-group input-group-outline">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                {{form.email}}
              </div>
              <div class="mb-3 input-group input-group-outline">
<!--                <label for="exampleFormControlTextarea1" class="form-label">Feedback</label>-->
                  {{form.feedback}}
              </div>
              <div class="mb-3">
                <input type="submit" class="btn btn-info" value="Submit">
              </div>
                  </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}