{% extends 'owner/base.html' %}
{% load static %}

{% block content %}
  <div class="container-fluid py-4">
    <div class="row min-vh-80">
      <div class="col-12 mx-auto">
        <div class="card mt-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">Car Update</h6>
            </div>
          </div>
          <div class="card-body">
            <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="modal-body">
        {% for i in form %}
          <div class="input-group input-group-outline my-3">
            {{i}}
          </div>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <a class="btn btn-secondary mr-2" href="{% url 'ownerdashboard' %}">Cancel</a>
        <input class="btn btn-primary" type="submit" VALUE="Update">
      </div>
      </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}